body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.component{
    background-color: #ffffff;
    max-width: 320px;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
}

.component .qr-code{
    width: 288px;
    border-radius: 10px;
}

.component .about{
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    margin-top: 20px;
}

.component .info{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin: 16px 16px 24px;
}